/***color-define**/

$lan:#06152d;
$bai:#fff;
$he:#000;
$hong:#af2531;
/**********font-size define**************/
$font-14:14px;



$page-min-width:1170px;
$bg-color:$lan;

/******body设置****/

$body-color:$bai;
$body-font-size:$font-14;