@charset "UTF-8";
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/***color-define**/
/**********font-size define**************/
/******body璁剧疆****/
/* line 9, ../sass/screen.scss */
.banner-center, .group-list, .page2, .page3, .page4, .page5 {
  transition: all 0.5s;
}

/* line 13, ../sass/screen.scss */
body {
  margin: 0px;
  font-size: 14px;
  color: #fff;
  font-family: "Microsoft YaHei";
}

/* line 20, ../sass/screen.scss */
img {
  max-width: 100%;
  height: auto;
}

/* line 24, ../sass/screen.scss */
p {
  margin-top: 10px;
  margin-bottom: 10px;
}

/* line 26, ../sass/screen.scss */
* {
  box-sizing: border-box;
}

/* line 29, ../sass/screen.scss */
a {
  color: #fff;
  text-decoration: none;
}

/* line 31, ../sass/screen.scss */
.page2-content, .header, .glist, .page3-content, .page4-content, .page5-content, .joinus-content {
  width: 1170px;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
}

/* line 37, ../sass/screen.scss */
p {
  line-height: 26px;
}

/* line 41, ../sass/screen.scss */
.button {
  min-width: 200px;
  min-height: 60px;
  text-align: center;
  line-height: 60px;
  display: inline-block;
  font-size: 18px;
  transition: all 0.5s;
  border: 1px solid rgba(255, 255, 255, 0);
}
/* line 51, ../sass/screen.scss */
.button.red {
  background-color: #af2531;
}
/* line 54, ../sass/screen.scss */
.button:hover {
  background-color: transparent;
  border: 1px solid #fff;
  border: 1px solid white;
}

/* line 65, ../sass/screen.scss */
.page, .header-c, .group-list {
  width: 100%;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  min-width: 1170px;
}

/* line 75, ../sass/screen.scss */
.page-center {
  text-align: center;
}

/* line 78, ../sass/screen.scss */
.page1 {
  position: relative;
}
/* line 80, ../sass/screen.scss */
.page1.joinus {
  background-color: #10345e;
}

/* line 84, ../sass/screen.scss */
.page2 {
  background-color: #06152d;
  height: 740px;
}

/* line 93, ../sass/screen.scss */
.banner-center {
  font-size: 0px;
  text-align: center;
}

/* line 97, ../sass/screen.scss */
.header-c {
  position: absolute;
  left: 0px;
  top: 0px;
  text-align: center;
  top: 20px;
  transition: all 0.5s;
}

/* line 109, ../sass/screen.scss */
.header {
  padding-bottom: 10px;
  border-bottom: 1px solid #fff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  display: inline-block;
}
/* line 115, ../sass/screen.scss */
.header .header-logo {
  float: left;
  font-size: 0px;
}
/* line 119, ../sass/screen.scss */
.header .header-menu {
  float: right;
}

/* line 123, ../sass/screen.scss */
.menu {
  margin-top: 25px;
}
/* line 125, ../sass/screen.scss */
.menu li {
  float: left;
  margin-right: 40px;
}
/* line 129, ../sass/screen.scss */
.menu li.last-child {
  margin-right: 0px;
}
/* line 131, ../sass/screen.scss */
.menu a {
  transition: all 0.5s;
}
/* line 134, ../sass/screen.scss */
.menu a:hover {
  color: rgba(255, 255, 255, 0.5);
}

/* line 139, ../sass/screen.scss */
.group-list {
  position: absolute;
  left: 0px;
  bottom: 0px;
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.8);
}

/* line 147, ../sass/screen.scss */
.glist {
  padding: 30px 0px 30px 0px;
}
/* line 150, ../sass/screen.scss */
.glist > li {
  float: left;
}
/* line 153, ../sass/screen.scss */
.glist > li.glist-1 {
  margin-top: 40px;
  width: 20%;
}
/* line 157, ../sass/screen.scss */
.glist > li.glist-2, .glist > li.glist-3, .glist > li.glist-4 {
  width: 25%;
  text-align: center;
  border-right: 1px solid #fff;
  border-right: 1px solid rgba(255, 255, 255, 0.3);
}
/* line 163, ../sass/screen.scss */
.glist > li.glist-4 {
  border-right: 0px;
}

/* line 169, ../sass/screen.scss */
.page-content2-left {
  float: left;
  width: 62%;
  overflow: hidden;
  margin-top: 80px;
}

/* line 175, ../sass/screen.scss */
.page-content2-right {
  float: right;
  width: 30%;
  overflow: hidden;
  font-size: 0px;
  text-align: right;
}

/* line 186, ../sass/screen.scss */
.title .title-en {
  font-size: 40px;
  line-height: 44px;
}
/* line 191, ../sass/screen.scss */
.title .title-cn {
  font-size: 22px;
}

/* line 197, ../sass/screen.scss */
.page-content2-left .title {
  margin-bottom: 20px;
}

/* line 202, ../sass/screen.scss */
.page3 {
  background-image: url(../img/p3-banner.jpg);
  background-repeat: no-repeat;
  background-position: center;
  height: 740px;
}

/* line 208, ../sass/screen.scss */
.page3-content {
  margin-left: auto;
  margin-right: auto;
}

/* line 213, ../sass/screen.scss */
.page3-content-left {
  width: 40%;
  overflow: hidden;
  float: left;
  margin-top: 150px;
}

/* line 219, ../sass/screen.scss */
.page3-content-right {
  width: 50%;
  float: right;
  margin-top: 150px;
}

/* line 224, ../sass/screen.scss */
.hornor-list {
  margin-top: 30px;
}
/* line 226, ../sass/screen.scss */
.hornor-list li {
  float: left;
  width: 25%;
  height: 70px;
}

/* line 233, ../sass/screen.scss */
.record-item {
  width: 100%;
  overflow: hidden;
  margin-bottom: 20px;
}

/* line 238, ../sass/screen.scss */
.record-item .record-title {
  float: left;
  width: 15%;
  font-size: 30px;
}

/* line 243, ../sass/screen.scss */
.record-item .record-data {
  width: 84%;
  float: right;
  line-height: 26px;
  padding-left: 20px;
  border-left: 1px solid #fff;
  border-left: 1px solid rgba(255, 255, 255, 0.9);
}

/* line 254, ../sass/screen.scss */
.page4 {
  background-image: url(../img/p4.jpg);
  background-repeat: no-repeat;
  background-position: center;
  min-height: 740px;
}

/* line 261, ../sass/screen.scss */
.page4-content {
  margin-left: auto;
  margin-right: auto;
}

/* line 266, ../sass/screen.scss */
.page4-content .title {
  margin-top: 60px;
}

/* line 269, ../sass/screen.scss */
.p4-contxt {
  font-size: 32px;
  line-height: 40px;
  margin-top: 180px;
  margin-bottom: 30px;
}

/* line 276, ../sass/screen.scss */
.page5 {
  background-color: #06152d;
}

/* line 279, ../sass/screen.scss */
.page5-content {
  margin-left: auto;
  margin-right: auto;
  padding-top: 252px;
  padding-bottom: 252px;
  position: relative;
}

/* line 287, ../sass/screen.scss */
.page5-content-left {
  width: 25%;
  overflow: hidden;
  float: left;
}

/* line 292, ../sass/screen.scss */
.page5-content-right {
  width: 70%;
  float: left;
  overflow: hidden;
  padding-left: 5%;
  border-left: 1px solid #fff;
  border-left: 1px solid rgba(255, 255, 255, 0.5);
}

/* line 301, ../sass/screen.scss */
.group-info {
  width: 100%;
  line-height: 18px;
}
/* line 304, ../sass/screen.scss */
.group-info .group-title, .group-info .group-desc {
  margin-bottom: 5px;
}
/* line 306, ../sass/screen.scss */
.group-info .group-title.more, .group-info .group-desc.more {
  margin-top: 30px;
}
/* line 310, ../sass/screen.scss */
.group-info .group-img {
  margin-bottom: 20px;
}
/* line 313, ../sass/screen.scss */
.group-info a {
  transition: all 0.5s;
}
/* line 316, ../sass/screen.scss */
.group-info a:hover {
  color: rgba(255, 255, 255, 0.5);
}

/* line 320, ../sass/screen.scss */
.group-desc {
  font-size: 12px;
}

/* line 323, ../sass/screen.scss */
.page5-content-right .group-info {
  float: left;
  width: 33.33%;
  overflow: hidden;
}

/* line 329, ../sass/screen.scss */
.web-info {
  position: absolute;
  left: 0px;
  bottom: 20px;
  width: 100%;
  font-size: 12px;
  height: 40px;
}
/* line 336, ../sass/screen.scss */
.web-info a {
  transition: all 0.5s;
}
/* line 339, ../sass/screen.scss */
.web-info a:hover {
  opacity: 0.5;
}

/* line 343, ../sass/screen.scss */
.web-info-left {
  float: left;
  margin-top: 10px;
}

/* line 347, ../sass/screen.scss */
.web-info-right {
  float: right;
}
/* line 350, ../sass/screen.scss */
.web-info-right ul li {
  float: left;
  margin-left: 10px;
}
/* line 353, ../sass/screen.scss */
.web-info-right ul li.first {
  margin-top: 10px;
}

/* line 359, ../sass/screen.scss */
.color-line {
  left: 0px;
  bottom: 0px;
  width: 100%;
  height: 3px;
  position: absolute;
}
/* line 366, ../sass/screen.scss */
.color-line ul {
  width: 100%;
  height: 3px;
  overflow: hidden;
}
/* line 371, ../sass/screen.scss */
.color-line ul li {
  float: left;
  height: 3px;
}
/* line 377, ../sass/screen.scss */
.color-line .line-1 {
  background-color: #10345e;
  width: 35%;
  float: left;
}
/* line 383, ../sass/screen.scss */
.color-line .line-2 {
  background-color: #a2a7b9;
  width: 20%;
  float: left;
}
/* line 390, ../sass/screen.scss */
.color-line .line-3 {
  background-color: #ad232f;
  width: 10%;
  float: left;
}
/* line 396, ../sass/screen.scss */
.color-line .line-4 {
  background-color: #1993cf;
  width: 35%;
  float: left;
}

/* line 404, ../sass/screen.scss */
.toggleButton {
  position: fixed;
  clip: rect(0px, 0px, 0px, 0px);
}
/* line 408, ../sass/screen.scss */
.toggleButton + label {
  position: fixed;
  transition: all 0.5s;
  display: none;
  background-color: #06152d;
  left: 0px;
  top: 0px;
  width: 40px;
  height: 40px;
  z-index: 2000000;
  border: 1px solid rgba(255, 255, 255, 0.3);
  font-size: 12px;
  text-align: center;
  padding-top: 8px;
}
/* line 423, ../sass/screen.scss */
.toggleButton + label:before {
  content: '';
  position: absolute;
  left: 10%;
  top: 22px;
  width: 80%;
  height: 6px;
  overflow: hidden;
  border-bottom: 2px solid rgba(255, 255, 255, 0.5);
  border-top: 2px solid rgba(255, 255, 255, 0.5);
}
/* line 434, ../sass/screen.scss */
.toggleButton + label:after {
  content: '';
  position: absolute;
  left: 10%;
  top: 26px;
  width: 80%;
  height: 1px;
  overflow: hidden;
  border-top: 2px solid rgba(255, 255, 255, 0.5);
}
/* line 445, ../sass/screen.scss */
.toggleButton:checked + label {
  left: 50%;
}

/* line 452, ../sass/screen.scss */
.showMenu .all .header-c {
  transform: translate3d(0px, 0px, 0px);
}
/* line 456, ../sass/screen.scss */
.showMenu .all .banner-center, .showMenu .all .group-list, .showMenu .all .page2, .showMenu .all .page3, .showMenu .all .page4, .showMenu .all .page5, .showMenu .all .joinus-content {
  transform: translate3d(50%, 0px, 0px);
}

/* line 461, ../sass/screen.scss */
.all {
  width: 100%;
  min-width: 1170px;
  transition: all 0.5s;
  overflow: hidden;
}

/* line 468, ../sass/screen.scss */
.joinus {
  width: 100%;
  background-image: url(../img/joinbg.png);
  background-repeat: no-repeat;
  background-position: 10% 90px;
  overflow: hidden;
}

/* line 475, ../sass/screen.scss */
.joinus-content {
  margin-top: 250px;
  overflow: hidden;
  transition: all 0.5s;
}

/* line 482, ../sass/screen.scss */
.join-top, .join-middle {
  width: 100%;
  overflow: hidden;
}

/* line 486, ../sass/screen.scss */
.join-top-left {
  width: 30%;
  float: left;
  overflow: hidden;
}
/* line 490, ../sass/screen.scss */
.join-top-left .title {
  margin-bottom: 10px;
}

/* line 494, ../sass/screen.scss */
.join-top-right {
  width: 60%;
  float: right;
  overflow: hidden;
}

/* line 500, ../sass/screen.scss */
.join-top-right-title {
  font-size: 32px;
  line-height: 42px;
  margin-bottom: 20px;
  width: 100%;
  overflow: hidden;
}

/* line 509, ../sass/screen.scss */
.join-top-right-desc {
  line-height: 26px;
  margin-bottom: 20px;
}

/* line 513, ../sass/screen.scss */
.join-top-right-button {
  font-size: 26px;
  border: 1px solid white;
  display: inline-block;
  padding: 10px 20px 10px 20px;
  background-color: #af2531;
  border: 1px solid rgba(255, 255, 255, 0);
  transition: all 0.5s;
  margin-bottom: 20px;
}
/* line 522, ../sass/screen.scss */
.join-top-right-button:hover {
  border: 1px solid white;
  background-color: transparent;
}

/* line 528, ../sass/screen.scss */
.title2 {
  width: 100%;
  border-bottom: 1px solid white;
  font-size: 35px;
  line-height: 60px;
  margin-bottom: 10px;
}

/* line 535, ../sass/screen.scss */
.sitesGroup {
  width: 100%;
  overflow: hidden;
  margin-bottom: 30px;
}

/* line 540, ../sass/screen.scss */
.sites {
  width: 47%;
  overflow: hidden;
}
/* line 543, ../sass/screen.scss */
.sites.left {
  float: left;
  width: 47%;
}
/* line 547, ../sass/screen.scss */
.sites.right {
  width: 47%;
  float: right;
}

/* line 553, ../sass/screen.scss */
.sites-title {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuNSIgeDI9IjEuMCIgeTI9IjAuNSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2FjMjIyZSIvPjxzdG9wIG9mZnNldD0iNTAlIiBzdG9wLWNvbG9yPSIjYWYyMzJmIi8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjYWUyMjJmIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #ac222e), color-stop(50%, #af232f), color-stop(100%, #ae222f));
  background-image: -moz-linear-gradient(left, #ac222e, #af232f, #ae222f);
  background-image: -webkit-linear-gradient(left, #ac222e, #af232f, #ae222f);
  background-image: linear-gradient(to right, #ac222e, #af232f, #ae222f);
  font-size: 24px;
  padding: 10px 0px 10px 10px;
}
/* line 557, ../sass/screen.scss */
.sites-title.lan {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuNSIgeDI9IjEuMCIgeTI9IjAuNSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzFiNjdiZiIvPjxzdG9wIG9mZnNldD0iNTAlIiBzdG9wLWNvbG9yPSIjMWM2OWMzIi8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMWI2OGMxIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #1b67bf), color-stop(50%, #1c69c3), color-stop(100%, #1b68c1));
  background-image: -moz-linear-gradient(left, #1b67bf, #1c69c3, #1b68c1);
  background-image: -webkit-linear-gradient(left, #1b67bf, #1c69c3, #1b68c1);
  background-image: linear-gradient(to right, #1b67bf, #1c69c3, #1b68c1);
}
/* line 561, ../sass/screen.scss */
.sites-title.huang {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuNSIgeDI9IjEuMCIgeTI9IjAuNSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2JmYmQxYiIvPjxzdG9wIG9mZnNldD0iNTAlIiBzdG9wLWNvbG9yPSIjYzNjMTFjIi8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjYzFiZjFiIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #bfbd1b), color-stop(50%, #c3c11c), color-stop(100%, #c1bf1b));
  background-image: -moz-linear-gradient(left, #bfbd1b, #c3c11c, #c1bf1b);
  background-image: -webkit-linear-gradient(left, #bfbd1b, #c3c11c, #c1bf1b);
  background-image: linear-gradient(to right, #bfbd1b, #c3c11c, #c1bf1b);
}
/* line 565, ../sass/screen.scss */
.sites-title.zi {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuNSIgeDI9IjEuMCIgeTI9IjAuNSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2M0NDNiNiIvPjxzdG9wIG9mZnNldD0iNTAlIiBzdG9wLWNvbG9yPSIjYzU0NmI3Ii8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjYzU0NWI3Ii8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #c443b6), color-stop(50%, #c546b7), color-stop(100%, #c545b7));
  background-image: -moz-linear-gradient(left, #c443b6, #c546b7, #c545b7);
  background-image: -webkit-linear-gradient(left, #c443b6, #c546b7, #c545b7);
  background-image: linear-gradient(to right, #c443b6, #c546b7, #c545b7);
}
/* line 569, ../sass/screen.scss */
.sites-title.hui {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuNSIgeDI9IjEuMCIgeTI9IjAuNSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzgxNzI1ZSIvPjxzdG9wIG9mZnNldD0iNTAlIiBzdG9wLWNvbG9yPSIjODM3NDYwIi8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjODI3MzVmIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #81725e), color-stop(50%, #837460), color-stop(100%, #82735f));
  background-image: -moz-linear-gradient(left, #81725e, #837460, #82735f);
  background-image: -webkit-linear-gradient(left, #81725e, #837460, #82735f);
  background-image: linear-gradient(to right, #81725e, #837460, #82735f);
}
/* line 573, ../sass/screen.scss */
.sites-title.yu {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuNSIgeDI9IjEuMCIgeTI9IjAuNSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzVhOWE1MSIvPjxzdG9wIG9mZnNldD0iNTAlIiBzdG9wLWNvbG9yPSIjNWM5ZDUyIi8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjNWI5YzUyIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #5a9a51), color-stop(50%, #5c9d52), color-stop(100%, #5b9c52));
  background-image: -moz-linear-gradient(left, #5a9a51, #5c9d52, #5b9c52);
  background-image: -webkit-linear-gradient(left, #5a9a51, #5c9d52, #5b9c52);
  background-image: linear-gradient(to right, #5a9a51, #5c9d52, #5b9c52);
}

/* line 578, ../sass/screen.scss */
.sites-desc {
  width: 100%;
  overflow: hidden;
  line-height: 26px;
  padding-left: 10px;
  margin-bottom: 20px;
  margin-top: 20px;
}
/* line 586, ../sass/screen.scss */
.sites-desc h3 {
  font-size: 16px;
}

@media (max-width: 500px) {
  /* line 2, ../sass/_phone.scss */
  .page2-content, .page3-content, .page4-content, .web-info, .joinus, .glist {
    padding: 0px 10px 0px 10px;
  }

  /* line 6, ../sass/_phone.scss */
  .all {
    width: 100%;
    min-width: 100%;
  }

  /* line 13, ../sass/_phone.scss */
  .page2-content, .header, .glist, .page3-content, .page4-content, .page5-content, .joinus-content {
    width: 100%;
    min-width: 100%;
  }

  /* line 17, ../sass/_phone.scss */
  .page {
    min-width: 100%;
  }

  /* line 18, ../sass/_phone.scss */
  .header-c {
    top: 0px;
    min-width: 100%;
  }

  /* line 22, ../sass/_phone.scss */
  .header {
    width: 100%;
  }

  /* line 25, ../sass/_phone.scss */
  .header-logo {
    display: none;
  }

  /* line 26, ../sass/_phone.scss */
  .group-list {
    position: static;
    min-width: 100%;
  }

  /* line 30, ../sass/_phone.scss */
  .page1 {
    position: static;
  }

  /* line 33, ../sass/_phone.scss */
  .glist {
    width: 100%;
    min-width: 100%;
  }
  /* line 37, ../sass/_phone.scss */
  .glist > li {
    border: 0px solid #ff00ff;
  }
  /* line 40, ../sass/_phone.scss */
  .glist > li.glist-1 {
    width: 100%;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  /* line 45, ../sass/_phone.scss */
  .glist > li.glist-2 {
    width: 33.3333%;
    margin-bottom: 20px;
  }
  /* line 49, ../sass/_phone.scss */
  .glist > li.glist-3 {
    width: 33.3333%;
    margin-bottom: 20px;
  }
  /* line 53, ../sass/_phone.scss */
  .glist > li.glist-4 {
    width: 33.3333%;
    margin-bottom: 20px;
  }

  /* line 58, ../sass/_phone.scss */
  .page2 {
    height: auto;
  }

  /* line 61, ../sass/_phone.scss */
  .page-content2-left, .page-content2-right {
    width: 100%;
    float: none;
    clear: both;
    margin-top: 20px;
  }

  /* line 68, ../sass/_phone.scss */
  .page-content2-right {
    display: none;
  }

  /* line 72, ../sass/_phone.scss */
  .page3 {
    width: 100%;
    min-width: 100%;
    height: auto;
    background-position: left top;
    background-size: cover;
  }

  /* line 79, ../sass/_phone.scss */
  .page3-content-left {
    width: 100%;
    clear: both;
    float: none;
    margin-top: 20px;
  }

  /* line 85, ../sass/_phone.scss */
  .hornor-list {
    margin-top: 20px;
  }

  /* line 88, ../sass/_phone.scss */
  .hornor-list li {
    width: 25%;
    text-align: center;
  }

  /* line 92, ../sass/_phone.scss */
  .page3-content-right {
    width: 100%;
    clear: both;
    float: none;
    margin-top: 20px;
  }

  /* line 99, ../sass/_phone.scss */
  .page4 {
    width: 100%;
    min-width: 100%;
    height: auto;
    min-height: 0;
    padding-bottom: 30px;
  }
  /* line 106, ../sass/_phone.scss */
  .page4 > .page4-content > .title {
    margin-top: 20px;
  }
  /* line 109, ../sass/_phone.scss */
  .page4 > .page4-content > .p4-contxt {
    margin-top: 20px;
    font-size: 16px;
    line-height: 22px;
  }
  /* line 114, ../sass/_phone.scss */
  .page4 > .page4-content > .btn-c {
    text-align: center;
  }

  /* line 119, ../sass/_phone.scss */
  .page5-content {
    padding: 30px 0px 30px 0px;
  }

  /* line 122, ../sass/_phone.scss */
  .page5-content-left, .page5-content-right {
    width: 100%;
    clear: both;
    float: none;
  }

  /* line 127, ../sass/_phone.scss */
  .group-info {
    transform: translate3d(0px, 0px, 0px);
    width: 100%;
    overflow: hidden;
  }
  /* line 131, ../sass/_phone.scss */
  .group-info > li {
    width: 100%;
    margin-right: 10px;
    text-align: center;
  }

  /* line 138, ../sass/_phone.scss */
  .page5-content-right {
    padding-left: 0px;
    margin-top: 10px;
    border: 0px;
  }
  /* line 142, ../sass/_phone.scss */
  .page5-content-right .group-info {
    width: 33.333%;
    transform: translate3d(0px, 0px, 0px);
    border-right: 1px solid rgba(255, 255, 255, 0.3);
  }
  /* line 147, ../sass/_phone.scss */
  .page5-content-right .group-info:last-child {
    border: 0px;
  }
  /* line 151, ../sass/_phone.scss */
  .page5-content-right .group-img {
    width: 100%;
    text-align: center;
    padding: 0px 10px 0px 10px;
    height: 60px;
  }
  /* line 157, ../sass/_phone.scss */
  .page5-content-right .group-title, .page5-content-right .group-desc {
    display: none;
  }

  /* line 162, ../sass/_phone.scss */
  .web-info {
    position: static;
    height: auto;
    width: 100%;
    overflow: hidden;
  }

  /* line 170, ../sass/_phone.scss */
  .title > .title-en {
    font-size: 20px;
    line-height: 24px;
  }
  /* line 174, ../sass/_phone.scss */
  .title > .title-cn {
    font-size: 16px;
  }

  /* line 180, ../sass/_phone.scss */
  .button {
    min-width: 120px;
    min-height: 40px;
    line-height: 40px;
    font-size: 16px;
  }

  /* line 187, ../sass/_phone.scss */
  .join-top-left {
    width: 100%;
  }

  /* line 191, ../sass/_phone.scss */
  .join-top-right {
    width: 100%;
  }

  /* line 195, ../sass/_phone.scss */
  .joinus-content {
    margin-top: 70px;
  }

  /* line 198, ../sass/_phone.scss */
  .sites {
    width: 100%;
  }
  /* line 200, ../sass/_phone.scss */
  .sites.left {
    width: 100%;
  }
  /* line 201, ../sass/_phone.scss */
  .sites.right {
    width: 100%;
  }

  /* line 203, ../sass/_phone.scss */
  .title2 {
    font-size: 22px;
    line-height: 32px;
  }

  /* line 207, ../sass/_phone.scss */
  .sites-title {
    font-size: 16px;
  }

  /* line 210, ../sass/_phone.scss */
  .join-top-right-button {
    font-size: 14px;
  }

  /* line 213, ../sass/_phone.scss */
  .join-top-right-title {
    font-size: 22px;
    line-height: 30px;
  }
}
@media (max-width: 414px) {
  /* line 221, ../sass/_phone.scss */
  .toggleButton + label {
    display: block;
  }

  /* line 224, ../sass/_phone.scss */
  .glist-3, .glist-2, .glist-4 {
    padding: 0px 10px 0px 10px;
  }

  /* line 228, ../sass/_phone.scss */
  .record-item > .record-title {
    width: 100%;
    overflow: hidden;
    margin-bottom: 10px;
  }
  /* line 234, ../sass/_phone.scss */
  .record-item > .record-data {
    width: 100%;
    border-left: 0px;
    padding-left: 0px;
  }

  /* line 240, ../sass/_phone.scss */
  .web-info-left {
    width: 100%;
    clear: both;
    float: none;
    text-align: center;
  }

  /* line 246, ../sass/_phone.scss */
  .web-info-right {
    width: 50%;
    clear: both;
    float: none;
    margin-top: 10px;
    text-align: center;
    transform: translate3d(50%, 0px, 0px);
    overflow: hidden;
  }

  /* line 256, ../sass/_phone.scss */
  .hornor-list > li {
    padding: 0px 10px 0px 10px;
  }

  /* line 260, ../sass/_phone.scss */
  .toggleButton {
    display: block;
  }

  /* line 264, ../sass/_phone.scss */
  .header-c {
    background-color: black;
    height: 100%;
    width: 50%;
    min-width: 50%;
    position: fixed;
    z-index: 100000;
    transform: translate3d(-100%, 0px, 0px);
  }

  /* line 273, ../sass/_phone.scss */
  .header {
    border: 0px;
    padding-bottom: 0px;
  }
  /* line 276, ../sass/_phone.scss */
  .header > .header-menu {
    width: 100%;
    overflow: hidden;
    clear: both;
    float: none;
  }

  /* line 283, ../sass/_phone.scss */
  .menu {
    width: 100%;
    overflow: hidden;
    margin-top: 0px;
  }
  /* line 288, ../sass/_phone.scss */
  .menu > li {
    width: 100%;
    overflow: hidden;
    float: none;
    margin: 0px;
  }
  /* line 294, ../sass/_phone.scss */
  .menu > li > a {
    width: 100%;
    display: block;
    text-align: left;
    text-indent: 20px;
    min-height: 40px;
    line-height: 40px;
  }

  /* line 305, ../sass/_phone.scss */
  .joinus-content {
    margin-top: 10px;
  }

  /* line 308, ../sass/_phone.scss */
  .join-top-right-title {
    font-size: 16px;
    line-height: 22px;
  }
}
